<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Anotar.Serilog.Fody" version="4.6.5" targetFramework="net472" />
  <package id="CsvTools" version="1.0.12" targetFramework="net472" />
  <package id="ExchangeAPI" version="1.543.1922" targetFramework="net472" />
  <package id="Fody" version="3.2.6" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.27.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.27.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.27.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.27.0" targetFramework="net472" />
  <package id="Monads" version="1.1.5.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="RestSharp" version="106.6.10" targetFramework="net472" />
  <package id="Serilog" version="2.7.1" targetFramework="net472" />
  <package id="ServiceStack.Text" version="5.2.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.27.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.7.2" targetFramework="net472" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>